html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 7s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* NO RESULTS FOUND STYLE */
h2 {
  color: #f5fbff;
  text-align: center;
  -webkit-animation: glow 0.1s ease-in-out infinite alternate;
  -moz-animation: glow 0.1s ease-in-out infinite alternate;
  animation: glow 0.4s ease-in-out infinite alternate;
  font-size: 10em;
  font-weight: 200;
}

/* TITLE STYLE */
.glow {
  font-size: 80px;
  color: white;
  text-align: center;
  -webkit-animation: glow 0.1s ease-in-out infinite alternate;
  -moz-animation: glow 0.1s ease-in-out infinite alternate;
  animation: glow 0.4s ease-in-out infinite alternate;
  font-family: Lato;
  font-size: 8em;
}

/* CREATE BUTTON STYLE */
.form-control:focus {
  box-shadow: 0 0 0 0.1rem rgb(0 255 255 / 50%) !important;
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 5px white, 0 0 5px white, 0 0 30px cyan, 0 0 40px cyan,
      0 0 2px cyan, 0 0 60px cyan, 0 0 70px cyan;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px cyan, 0 0 40px cyan, 0 0 50px cyan,
      0 0 60px cyan, 0 0 70px cyan, 0 0 80px cyan;
  }
}

.a-n2 {
  margin-left: 20px;
  text-decoration: none;
  position: relative;
  padding: 15px 30px;
  overflow: hidden;
  transition: 0.2s all;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
  border-radius: 30px;
  border-radius: 30px;
}
.a-n2:hover {
  background: #ffff;
  color: #000;
  box-shadow: 0px 0px 10px #93ebeb, 0px 0px 40px #8effff, 0px 0px 80px #368686;
  transition-delay: 0.2s;
}

.btn {
  color: white !important;
}

.btn:hover {
  color: black !important;
}
btn,
btn:active {
  outline: none !important;
}

.btn-check:focus + .btn,
.btn:focus {
  outline: 0;
  box-shadow: none !important;
}

/* MODAL BUTTON STYLES */

#add {
  color: #fff;
  background-color: #69ecec;
  border-color: #93ebeb;
}

#add:hover {
  color: #323636 !important;
}

#close {
  color: #fff;
  background-color: #646e6e;
  border-color: #93ebeb;
}

#close:hover {
  color: #1dffff !important;
}

/* PAGINATION STYLES */

.page-link {
  color: #33bdff !important;
}

.pagination {
  margin-bottom: 3rem;
}
